@import "tailwindcss";
@source "../src/**/*.{js,jsx}";

@theme{
  --color-shamrock-50: #ecfdf7;
  --color-shamrock-100: #d2f9ea;
  --color-shamrock-200: #a9f1d9;
  --color-shamrock-300: #57dfba;
  --color-shamrock-400: #38cfab;
  --color-shamrock-500: #14b594;
  --color-shamrock-600: #099279;
  --color-shamrock-700: #077563;
  --color-shamrock-800: #085d50;
  --color-shamrock-900: #084c43;
  --color-shamrock-950: #032b26;
}


